body
{
    margin: 0;
    padding: 0;
    background: url(pic2.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.simple-form
{
    width: 420px;
    height: 650px;
    background: rgba(0,0,0,.7);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avtar1
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1
{
    margin: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.simple-form p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.simple-form input[type="text"], input[type="password"], input[type="email"]
{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.simple-form select[type="number"]
{
    
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    width: 30%;
    color: #fc0c18;
    font-size: 16px;
}

.simple-form input[type="phone"]
{
    
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    width: 68%;
    color: #fff;
    font-size: 16px;
}

.simple-form input[type="submit"]
{
    width: 100%;
    margin-bottom: 0px;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.simple-form input[type="submit"]:hover
{
    width: 100%;
    margin-bottom: 0px;
    cursor: pointer;
    background: #fc0c18;
    color: #000;
}

.simple-form a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.simple-form a:hover
{
    color: #fcc00c;
}